@{
    ViewBag.Title = "Regionais";
    ViewBag.AngularApp = "acerva.listaRegionais";
}
<h4>Regionais</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        <div class="row" style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: flex-start; align-items: stretch;">

            <div class="col-xs-12 col-sm-4 col-md-3 cartao-regional"
                 ng-repeat="regional in ctrl.listaRegionais">
                <div class="thumbnail">
                    <div class="text-center cartao-regional-logo">
                        <span class="cartao-regional-logo-helper"></span>
                        <img 
                             ng-if="regional.nomeArquivoLogo"
                             ng-src="@Url.Content("~/Content/Aplicacao/images/regionais/"){{regional.codigo}}/{{regional.nomeArquivoLogo}}" />
                    </div>
                    <div class="caption cartao-regional-texto">
                        <h3 class="titulo text-primary"><strong>{{regional.nome}}</strong></h3>
                        <p><span ng-bind-html="regional.textoHtml"></span></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/listaRegionais")
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaRegionais: "@Url.Action("BuscaParaListagem")"
                });
        })();
    </script>
}
