@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    ViewBag.Title = "Carteirinha";
    ViewBag.AngularApp = "acerva.carteirinha";

    var urlCarteirinhaFrente = Url.Content("~/Content/Aplicacao/images/carteirinha_frente.jpg");
    var urlCarteirinhaVerso = Url.Content("/Content/Aplicacao/images/carteirinha_verso.jpg");
}

<h4>Carteirinha</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        <div class="row">
            <div ng-if="ctrl.status.carregando">
                <h3>Carregando...</h3>
            </div>
            <div class="panel panel-default"
                 ng-if="!ctrl.status.carregando">
                <div class="panel-body"
                     print-section>
                    <div style="padding: 5px;">
                        <div style="display: inline-block;">
                            <img src="@urlCarteirinhaFrente" style="top: 0px; left: 0px; z-index: 0; width: 320px; height: 500px; float: left;" />
                            <img style="position: absolute; top: 172px; left: 129px; width: 130px; height: 130px; z-index: 1;" alt="Foto"
                                 ng-src="{{ctrl.modelo.fotoBase64}}"
                                 ng-if="ctrl.modelo.fotoBase64" />
                            
                            <svg style="position: absolute; top: 315px; left: 43px; height: 27px; width: 300px;">
                                <text font-family="imprimaregular" font-size="20px" y="20" x="150" text-anchor="middle" fill="#ffffff">
                                    {{ctrl.modelo.name}}
                                </text>
                            </svg>
                            <svg style="position: absolute; top: 335px; left: 43px; height: 27px; width: 300px;">
                                <text font-family="imprimaregular" font-size="16px" y="20" x="150" text-anchor="middle" fill="#f08c2c">
                                    Cervejeir{{ctrl.modelo.sexo.codigoBd === ctrl.dominio.sexo.feminino.codigoBd ? 'a' : 'o'}} Caseir{{ctrl.modelo.sexo.codigoBd === ctrl.dominio.sexo.feminino.codigoBd ? 'a' : 'o'}}
                                </text>
                            </svg>
                            
                            <svg style="position: absolute; top: 500px; left: 43px; height: 27px; width: 300px;">
                                <text font-family="imprimaregular" font-size="16px" y="20" x="150" text-anchor="middle" fill="#ffffff">
                                    Associad{{ctrl.modelo.sexo.codigoBd === ctrl.dominio.sexo.feminino.codigoBd ? 'a' : 'o'}} {{ctrl.modelo.matricula}}
                                </text>
                            </svg>
                            <svg style="position: absolute; top: 520px; left: 43px; height: 27px; width: 300px;">
                                <text font-family="imprimaregular" font-size="14px" y="20" x="150" text-anchor="middle" fill="#f08c2c">
                                    Desde {{ctrl.modelo.dataAdmissao | date: 'yyyy'}}
                                </text>
                            </svg>
                        </div>
                        <div style="display: inline-block;">
                            <img src="@urlCarteirinhaVerso" style="top: 0px; left: 0px; z-index: 0;  width: 320px; height: 500px; float: left;" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <button class="btn btn-primary" print-btn>Imprimir</button>
                </div>
            </div>
        </div>
    </div>
</script>



@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render("~/cssBundles/carteirinha")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}
@section dependencies {
    @Scripts.Render("~/bundles/carteirinha")
}
@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    busca: "@Url.Action("Busca")"
                })
                    .constant("ENUMS", @Html.GeraJsonDeEnums(typeof(Sexo)));
        })();
    </script>
}
