@model Acerva.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Gerenciar conta";
}

<h4>@ViewBag.Title</h4>

<p class="text-success">@ViewBag.StatusMessage</p>
<div class="row">
    <div class="col-sm-4 text-center account-action">
        <a href="@Url.Action("Edit", "Account")"><span class="glyphicon glyphicon-user" style="font-size: 5em; color: darkslategray"></span><br/>
        Edite seus dados</a>
    </div>
    <div class="col-sm-4 text-center account-action">
        <a href="@Url.Action("ChangePassword", "Manage")"><span class="glyphicon glyphicon-asterisk" style="font-size: 5em; color: darkcyan"></span><br/>
        Troque sua senha</a>
    </div>
    <div class="col-sm-4 text-center account-action">
        <a href="@Url.Action("Index", "Carteirinha")"><span class="glyphicon glyphicon-credit-card" style="font-size: 5em; color: darkslateblue"></span><br/>
        Imprima sua carteirinha</a>
    </div>
</div>
