@using Acerva.Modelo
<form name="formRegional" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.status.carregando">Carregando<i class="icon icon-spin2 glyphicon-spin"></i></div>
        <div class="panel-heading" ng-hide="ctrl.status.carregando">{{ ctrl.modeloOriginal.codigo ? "Edição da regional '" + ctrl.modelo.nome + "'": "Nova regional" }}</div>
        <div class="panel-body" ng-hide="ctrl.status.carregando">
            <fieldset ng-disabled="ctrl.status.bloqueado">
                <div class="row" ng-if="ctrl.status.bloqueado">
                    <div class="col-sm-12">
                        <div class="alert alert-dismissible alert-warning">
                            A edição está bloqueada pois a regional está inativo.
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formRegional.nome")>
                            <label class="control-label" for="nome">Nome</label>
                            <input type="text" class="form-control" name="nome" autocomplete="off" required
                                   ng-model="ctrl.modelo.nome"/>
                            <p ng-show="formRegional.nome.$invalid && !formRegional.nome.$pristine" class="help-block">O nome é obrigatório</p>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-sm-12">
                        @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("equipes", "ctrl.modelo", "nome",
                            "equipe in ctrl.dominio.equipes | filter: {nome: $select.search} | orderBy : 'nome' track by equipe.codigo",
                            "equipe.nome | highlight: $select.search")
                            {
                                Titulo = "Equipes",
                                Multiplo = true,
                                TextoPlaceholder = "Selecione ao menos uma equipe."
                            })
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">Rodadas</div>
                            <div class="panel-body">
                                <div style="width: 100%; max-height: 450px; overflow-y: auto; margin-bottom: 5px;">
                                    <table class="table table-bordered table-striped table-responsive table-hover table-condensed" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th>Rodada</th>
                                                <th style="width: 50px;">Ord.</th>
                                                <th style="width: 65px;"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="r in ctrl.modelo.rodadas | orderBy: 'ordem' track by r.codigo"
                                                ng-form="formRodada"
                                                scroll-if="r.codigo === ctrl.codigoRodadaInicial">
                                                <td ng-if="ctrl.rodadaEmEdicao.codigo != r.codigo" style="vertical-align: middle;">
                                                    <a href style="text-decoration: none;" ng-click="ctrl.editaRodada(r)">
                                                        <span style="font-weight: bold;">{{ r.nome }}</span>
                                                        <span class="label label-warning pull-right"
                                                              ng-if="!ctrl.rodadaAberta(r)">
                                                            fechada
                                                        </span>
                                                    </a>
                                                </td>
                                                <td ng-if="ctrl.rodadaEmEdicao.codigo === r.codigo" style="vertical-align: middle;">
                                                    <input type="text" class="form-control input-sm" name="nome" id="nome" required autocomplete="off"
                                                            maxlength="@Rodada.TamanhoMaximoNome"
                                                            ng-disabled="ctrl.partidaEmEdicao"
                                                            placeholder="Rodada"
                                                            ng-model="r.nome" />
                                                </td>

                                                <td ng-if="ctrl.rodadaEmEdicao.codigo != r.codigo" style="vertical-align: middle;">
                                                    <a href ng-click="ctrl.editaRodada(r)"><span>{{ r.ordem }}</span></a>
                                                </td>
                                                <td ng-if="ctrl.rodadaEmEdicao.codigo === r.codigo" style="vertical-align: middle;">
                                                    <input type="text" class="form-control input-sm" name="ordem" id="ordem" required autocomplete="off"
                                                            maxlength="@Rodada.TamanhoMaximoNome"
                                                            ng-disabled="ctrl.partidaEmEdicao"
                                                            ng-model="r.ordem" />
                                                </td>

                                                <td>
                                                    <button type="button" class="btn btn-info btn-xs escondeEmFieldsetDisabled" title="Editar"
                                                            ng-if="!ctrl.rodadaEmEdicao || ctrl.rodadaEmEdicao.codigo !== r.codigo"
                                                            ng-click="ctrl.editaRodada(r)">
                                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                                    </button>
                                                    <a type="button" class="btn btn-default btn-xs mostraEmFieldsetDisabled habilitaEmFieldsetDisabled" title="Visualizar"
                                                            ng-if="!ctrl.rodadaEmEdicao || ctrl.rodadaEmEdicao.codigo !== r.codigo"
                                                            ng-click="ctrl.editaRodada(r)">
                                                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                                    </a>
                                                    
                                                    <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled" title="Excluir"
                                                            ng-if="!ctrl.rodadaEmEdicao"
                                                            acerva-confirm
                                                            confirm-action="ctrl.excluiRodada(r)"
                                                            confirm-window-type="danger"
                                                            confirm-text="Confirma a exclusão da rodada {{ r.nome }}?">
                                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-success btn-xs escondeEmFieldsetDisabled" title="Salvar"
                                                            ng-if="ctrl.rodadaEmEdicao.codigo === r.codigo"
                                                            ng-disabled="formRodada.$invalid || ctrl.partidaEmEdicao"
                                                            ng-click="ctrl.salvaRodada()">
                                                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                                    </button>
                                                    <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled" title="Cancelar"
                                                            ng-if="ctrl.rodadaEmEdicao.codigo === r.codigo"
                                                            ng-disabled="ctrl.partidaEmEdicao"
                                                            ng-click="ctrl.cancelaEdicaoRodada()">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </button>
                                                    <a type="button" class="btn btn-danger btn-xs mostraEmFieldsetDisabled habilitaEmFieldsetDisabled" title="Cancelar"
                                                            ng-if="ctrl.rodadaEmEdicao.codigo === r.codigo"
                                                            ng-disabled="ctrl.partidaEmEdicao"
                                                            ng-click="ctrl.cancelaEdicaoRodada()">
                                                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <button type="button" class="btn btn-default escondeEmFieldsetDisabled"
                                        ng-click="ctrl.incluiRodada()"
                                        ng-disabled="ctrl.rodadaEmEdicao">
                                    Incluir rodada
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-8 containerPartidasDaRodada" data-spy="affix" data-offset-top="170">
                        <div class="panel panel-primary" ng-if="ctrl.rodadaEmEdicao">
                            <div class="panel-heading">{{ ctrl.rodadaEmEdicao.codigo ? "Edição das partidas da rodada '" + ctrl.rodadaEmEdicao.nome + "'": "Partidas da nova rodada" }}</div>
                            <div class="panel-body">
                                <table class="table table-bordered table-striped table-responsive table-hover table-condensed hidden-xs" style="width: 100%;">
                                    <thead>
                                    <tr>
                                        <th rowspan="2" style="width: 110px;">Data</th>
                                        <th rowspan="2" style="width: 75px;">Hora</th>
                                        <th colspan="2" style="text-align: center;">Mandante</th>
                                        <th colspan="2" style="text-align: center;">Visitante</th>
                                        <th rowspan="2" style="width: 50px;">Fechada</th>
                                        <th rowspan="2"></th>
                                    </tr>
                                    <tr>
                                        <th style="text-align: center; width: 200px;">Equipe</th>
                                        <th style="text-align: center; width: 70px;">Placar</th>
                                        <th style="text-align: center; width: 70px;">Placar</th>
                                        <th style="text-align: center; width: 200px;">Equipe</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="p in ctrl.rodadaEmEdicao.partidas | orderBy: ['data', 'horario.hour', 'horario.minute', 'codigo'] track by p.codigo"
                                        ng-form="formPartida">

                                        <td ng-show="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle;">
                                            <span style="font-weight: bold;">{{ p.data | date :  "dd/MM/yyyy" }}</span>
                                        </td>
                                        <td ng-show="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                            <frte-datepicker ng-model="ctrl.dataEmEdicao"></frte-datepicker>
                                        </td>

                                        <td ng-if="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle;">
                                            <span style="font-weight: bold;">{{ ("0"+p.horario.hour).slice(-2) }}:{{ ("0"+p.horario.minute).slice(-2) }}</span>
                                        </td>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                            <png-time-input model="p.horario" time-mode="24"></png-time-input>
                                        </td>

                                        <td ng-if="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: right;">
                                            <span style="font-weight: bold;">{{ p.equipeMandante.nome }}</span>
                                            <img ng-if="p.equipeMandante.escudo" ng-src="@Url.Content("~/Content/Aplicacao/images/escudos/"){{p.equipeMandante.escudo}}" height="20"/>
                                        </td>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;" class="equipe">
                                            @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("equipeMandante", "p", "nome",
                                                "equipe in ctrl.filtraEquipes() | filter: {nome: $select.search} | orderBy : 'nome' track by equipe.codigo",
                                                "equipe.nome | highlight: $select.search")
                                            {
                                                Obrigatorio = true
                                            })
                                        </td>

                                        <td ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center;">
                                            <span style="font-weight: bold;">{{ p.placarMandante }}</span>
                                        </td>
                                        <td ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                            <div class="input-group spinner">
                                                <input type="text" select-on-focus next-on-enter-or-tab class="form-control" ng-model="p.placarMandante" min="0" max="255">
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-default" type="button" ng-click="p.placarMandante = ctrl.incrementa(p.placarMandante);"><i class="glyphicon glyphicon-plus"></i></button>
                                                    <button class="btn btn-default" type="button" ng-click="p.placarMandante = ctrl.decrementa(p.placarMandante);"><i class="glyphicon glyphicon-minus"></i></button>
                                                </div>
                                            </div>
                                        </td>

                                        <td ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center;">
                                            <span style="font-weight: bold;">{{ p.placarVisitante }}</span>
                                        </td>
                                        <td ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                            <div class="input-group spinner">
                                                <input type="text" select-on-focus next-on-enter-or-tab class="form-control" ng-model="p.placarVisitante" min="0" max="255">
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-default" type="button" ng-click="p.placarVisitante = ctrl.incrementa(p.placarVisitante);"><i class="glyphicon glyphicon-plus"></i></button>
                                                    <button class="btn btn-default" type="button" ng-click="p.placarVisitante = ctrl.decrementa(p.placarVisitante);"><i class="glyphicon glyphicon-minus"></i></button>
                                                </div>
                                            </div>
                                        </td>

                                        <td ng-if="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: left;">
                                            <img ng-if="p.equipeVisitante.escudo" ng-src="@Url.Content("~/Content/Aplicacao/images/escudos/"){{p.equipeVisitante.escudo}}" height="20"/>
                                            <span style="font-weight: bold;">{{ p.equipeVisitante.nome }}</span>
                                        </td>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;" class="equipe">
                                            @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("equipeVisitante", "p", "nome",
                                                "equipe in ctrl.filtraEquipes() | filter: {nome: $select.search} | orderBy : 'nome' track by equipe.codigo",
                                                "equipe.nome | highlight: $select.search")
                                            {
                                                Obrigatorio = true
                                            })
                                        </td>

                                        <td ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle;">
                                            <input type="checkbox" ng-checked="p.terminada" disabled/>
                                        </td>
                                        <td ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                            <input type="checkbox" ng-checked="p.terminada" ng-model="p.terminada"/>
                                        </td>

                                        <td style="vertical-align: middle;">
                                            <button type="button" class="btn btn-info btn-xs escondeEmFieldsetDisabled" title="Editar"
                                                    ng-if="!ctrl.partidaEmEdicao || ctrl.partidaEmEdicao.codigo !== p.codigo"
                                                    ng-click="ctrl.editaPartida(p)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled" title="Excluir"
                                                    ng-if="!ctrl.partidaEmEdicao && !p.terminada"
                                                    acerva-confirm
                                                    confirm-action="ctrl.excluiPartida(p)"
                                                    confirm-window-type="danger"
                                                    confirm-text="Confirma a exclusão da partida {{ p.nome }}?">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs escondeEmFieldsetDisabled" title="Salvar"
                                                    ng-if="ctrl.partidaEmEdicao.codigo === p.codigo"
                                                    ng-disabled="formPartida.$invalid"
                                                    ng-click="ctrl.salvaPartida()">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled" title="Cancelar"
                                                    ng-if="ctrl.partidaEmEdicao.codigo === p.codigo"
                                                    ng-click="ctrl.cancelaEdicaoPartida()">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                                <table class="table table-bordered table-striped table-responsive table-hover table-condensed visible-xs" style="width: 100%;">
                                    <tbody ng-repeat="p in ctrl.rodadaEmEdicao.partidas | orderBy: ['data', 'horario.hour', 'horario.minute', 'codigo'] track by p.codigo"
                                           ng-form="formPartida">

                                        <tr>
                                            <td colspan="4" ng-show="ctrl.partidaEmEdicao.codigo !== p.codigo">
                                                <strong>{{ p.data | date : "dd/MM/yyyy" }} {{ ("0"+p.horario.hour).slice(-2) }}:{{ ("0"+p.horario.minute).slice(-2) }}</strong>
                                            </td>
                                            <td colspan="4" ng-show="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;">
                                                <frte-datepicker ng-model="ctrl.dataEmEdicao"></frte-datepicker>
                                                <png-time-input model="p.horario" time-mode="24"></png-time-input>
                                            </td>
                                        </tr>

                                    <tr>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center; width: 50px;">
                                            <img ng-if="p.equipeMandante.escudo" ng-src="@Url.Content("~/Content/Aplicacao/images/escudos/"){{p.equipeMandante.escudo}}" height="20"/><br/>
                                            <span style="font-weight: bold;">{{ p.equipeMandante.sigla }}</span>
                                        </td>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;" class="equipe">
                                            @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("equipeMandante", "p", "sigla",
                                                "equipe in ctrl.filtraEquipes() | filter: {nome: $select.search} | orderBy : 'nome' track by equipe.codigo",
                                                "equipe.sigla | highlight: $select.search")
                                            {
                                                Obrigatorio = true
                                            })
                                        </td>

                                        <td ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle; text-align: center;">
                                            <div class="input-group spinner">
                                                <input type="text" select-on-focus next-on-enter-or-tab class="form-control" ng-model="p.placarMandante" min="0" max="255">
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-default spinner-button" type="button" ng-click="p.placarMandante = ctrl.incrementa(p.placarMandante);"><i class="glyphicon glyphicon-plus"></i></button>
                                                    <button class="btn btn-default spinner-button" type="button" ng-click="p.placarMandante = ctrl.decrementa(p.placarMandante);"><i class="glyphicon glyphicon-minus"></i></button>
                                                </div>
                                            </div>
                                        </td>
                                        <td ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle; text-align: center;">
                                            <div class="input-group spinner">
                                                <input type="text" select-on-focus next-on-enter-or-tab class="form-control" ng-model="p.placarVisitante" min="0" max="255">
                                                <div class="input-group-btn-vertical">
                                                    <button class="btn btn-default spinner-button" type="button" ng-click="p.placarVisitante = ctrl.incrementa(p.placarVisitante);"><i class="glyphicon glyphicon-plus"></i></button>
                                                    <button class="btn btn-default spinner-button" type="button" ng-click="p.placarVisitante = ctrl.decrementa(p.placarVisitante);"><i class="glyphicon glyphicon-minus"></i></button>
                                                </div>
                                            </div>

                                        </td>
                                        <td ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center;">

                                            <span ng-if="p.placarMandante !== null && p.terminada" style="font-weight: bold; background-color: silver; padding: 5px; float: left;">{{ p.placarMandante }}</span>
                                        </td>
                                        <td ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center;">
                                            <span ng-if="p.placarVisitante !== null && p.terminada" style="font-weight: bold; background-color: silver; padding: 5px; float: right;">{{p.placarVisitante}}</span>

                                        </td>

                                        <td ng-if="ctrl.partidaEmEdicao.codigo !== p.codigo" style="vertical-align: middle; text-align: center; width: 50px;">
                                            <img ng-if="p.equipeVisitante.escudo" ng-src="@Url.Content("~/Content/Aplicacao/images/escudos/"){{p.equipeVisitante.escudo}}" height="20"/><br/>
                                            <span style="font-weight: bold;">{{ p.equipeVisitante.sigla }}</span>
                                        </td>
                                        <td ng-if="ctrl.partidaEmEdicao.codigo === p.codigo" style="vertical-align: middle;" class="equipe">
                                            @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("equipeVisitante", "p", "sigla",
                                                "equipe in ctrl.filtraEquipes() | filter: {nome: $select.search} | orderBy : 'nome' track by equipe.codigo",
                                                "equipe.sigla | highlight: $select.search")
                                            {
                                                Obrigatorio = true
                                            })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" style="vertical-align: middle;">
                                            <input ng-if="p.terminada && ctrl.partidaEmEdicao.codigo !== p.codigo" type="checkbox" ng-checked="p.terminada" disabled />
                                            <input ng-if="!p.terminada || ctrl.partidaEmEdicao.codigo === p.codigo" type="checkbox" ng-checked="p.terminada" ng-model="p.terminada"/>
                                            <span>Terminada</span>

                                            <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled pull-right" title="Cancelar"
                                                    ng-if="ctrl.partidaEmEdicao.codigo === p.codigo"
                                                    ng-click="ctrl.cancelaEdicaoPartida()">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-success btn-xs escondeEmFieldsetDisabled pull-right" title="Salvar"
                                                    ng-if="ctrl.partidaEmEdicao.codigo === p.codigo"
                                                    ng-disabled="formPartida.$invalid"
                                                    ng-click="ctrl.salvaPartida()">
                                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-danger btn-xs escondeEmFieldsetDisabled pull-right" title="Excluir"
                                                    ng-if="!ctrl.partidaEmEdicao && !p.terminada"
                                                    acerva-confirm
                                                    confirm-action="ctrl.excluiPartida(p)"
                                                    confirm-window-type="danger"
                                                    confirm-text="Confirma a exclusão da partida {{ p.nome }}?">
                                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-info btn-xs escondeEmFieldsetDisabled pull-right" title="Editar"
                                                    ng-if="!ctrl.partidaEmEdicao || ctrl.partidaEmEdicao.codigo !== p.codigo"
                                                    ng-click="ctrl.editaPartida(p)">
                                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                            </button>

                                        </td>

                                    </tr>
                                    </tbody>

                                </table>
                                
                                <button type="button" class="btn btn-info escondeEmFieldsetDisabled"
                                        ng-click="ctrl.incluiPartida()"
                                        ng-disabled="ctrl.partidaEmEdicao">
                                    Incluir
                                </button>
                                <button type="button" class="btn btn-warning escondeEmFieldsetDisabled"
                                        ng-click="ctrl.carregarPlacares()"
                                        ng-disabled="ctrl.partidaEmEdicao">
                                    Importar
                                </button>
                                <button type="button" class="btn btn-warning escondeEmFieldsetDisabled"
                                        ng-click="ctrl.marcaPartidasComoTerminadas()"
                                        ng-disabled="ctrl.partidaEmEdicao">
                                    Terminar todas
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <a class="btn btn-default" href="#/"
                           ng-disabled="!ctrl.modelo || ctrl.status.salvando">Cancelar</a>
                        <button type="submit" class="btn btn-primary" ng-hide="ctrl.status.bloqueado" ng-disabled="formRegional.$invalid || ctrl.status.salvando || ctrl.partidaEmEdicao"
                                ng-click="ctrl.salvaRegional()">Salvar<i class="icon icon-spin2 glyphicon-spin" ng-show="ctrl.status.salvando"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
