@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    ViewBag.Title = "Alteração de dados";
    ViewBag.AngularApp = "acerva.meusdados";
}

<h2>@ViewBag.Title</h2>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="edit.html">
    <div class="animate-show-only">
        <h4>Altere seus dados.</h4>
        @Html.Partial("~/Views/Usuario/_CadastroUsuario.cshtml")
    </div>
</script>

<script type="text/ng-template" id="edited.html">
    <div class="animate-show-only">
        <p>
            Seus dados foram alterados com sucesso!
        </p>
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render("~/cssBundles/meusdados")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/meusdados")
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaTiposDominio: "@Url.Action("BuscaTiposDominio", "Usuario")",
                    buscaUsuarioLogadoParaEdicao: "@Url.Action("BuscaUsuarioLogadoParaEdicao", "Usuario")",
                    salva: "@Url.Action("Register")",
                    buscaUsuariosAtivosComTermo: "@Url.Action("BuscaUsuariosAtivosComTermo", "Usuario")"
                })
                .constant("ENUMS", @Html.GeraJsonDeEnums(typeof (StatusUsuario)));
        })();
    </script>
}