@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    ViewBag.Title = "Associe-se!";
    ViewBag.AngularApp = "acerva.registro";
}

<h2>@ViewBag.Title</h2>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="create.html">
    <div class="animate-show-only">
        <h4>Crie uma nova conta para se associar à ACervA Carioca.</h4>
        @Html.Partial("~/Views/Usuario/_CadastroUsuario.cshtml")
    </div>
</script>

<script type="text/ng-template" id="confirmSent.html">
    <div class="animate-show-only">
        <p>
            Um e-mail com um link de confirmação foi enviado para o e-mail cadastrado.<br />
            Por favor verifique sua caixa de entrada.
        </p>
        <p>
            Por favor @Html.ActionLink("clique aqui para efetuar seu login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" }) caso já tenha confirmado sua conta.
        </p>
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render("~/cssBundles/registro")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/registro")
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaTiposDominio: "@Url.Action("BuscaTiposDominio", "Usuario")",
                    busca: "@Url.Action("Busca", "Usuario")",
                    salva: "@Url.Action("Register")",
                    buscaUsuariosAtivosComTermo: "@Url.Action("BuscaUsuariosAtivosComTermo", "Usuario")"
                })
                .constant("ENUMS", @Html.GeraJsonDeEnums(typeof (StatusUsuario), typeof(Sexo)));
        })();
    </script>
}