@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    if (Request.IsAuthenticated)
    {
        var url = Url.Action("Index", "Home");
        Response.Redirect(url);
    }

    ViewBag.Title = "Registre-se";
    ViewBag.AngularApp = "acerva.registro";
    var action = ViewContext.RouteData.GetRequiredString("action");
    var id = ViewContext.RouteData.Values["id"];
}

<h2>@ViewBag.Title</h2>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="edit.html">
    <div class="animate-show-only">
        <h4>Crie uma nova conta para se associar à ACervA Carioca.</h4>
        @Html.Partial("~/Views/Usuario/_CadastroUsuario.cshtml")
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @if (ViewBag.Id == null)
    {
        @Scripts.Render("~/bundles/registro")
    }
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaTiposDominio: "@Url.Action("BuscaTiposDominio", "Usuario")",
                    busca: "@Url.Action("Busca", "Usuario")",
                    salva: "@Url.Action("Register")",
                    buscaUsuariosAtivosComTermo: "@Url.Action("BuscaUsuariosAtivosComTermo", "Usuario")"
                })
            .constant("ENUMS", @Html.GeraJsonDeEnums(typeof (StatusUsuario)));
        })();
    </script>
}