<form name="formUsuario" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.status.carregando">Carregando<i class="icon icon-spin2 glyphicon-spin"></i></div>
        <div class="panel-heading" ng-hide="ctrl.status.carregando">{{ ctrl.modeloOriginal.id ? "Edição do associado '" + ctrl.modelo.name + "'" : "Novo associado" }}</div>
        <div class="panel-body" ng-hide="ctrl.status.carregando">
            <fieldset ng-disabled="ctrl.formularioDesabilitado()">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Identificação</div>
                        <div class="panel-body">
                            <div class="col-sm-6" style="padding: 0;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.name")>
                                            <label class="control-label" for="name">Nome completo</label>
                                            <input type="text" class="form-control" name="name" autocomplete="off" required
                                                   placeholder="Digite aqui seu nome completo"
                                                   ng-pattern="/^[^\s]*\s[\S\s]*$/"
                                                   ng-model="ctrl.modelo.name" />
                                            <p ng-show="formUsuario.name.$invalid && formUsuario.$submitted" class="help-block">O nome completo é obrigatório e precisa ter pelo menos dois nomes separados por espaço</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.cpf")>
                                            <label class="control-label" for="cpf">CPF</label>
                                            <input type="text" class="form-control" name="cpf" autocomplete="off" required
                                                   ng-cpf ui-mask="999.999.999-99"
                                                   ng-model="ctrl.modelo.cpf" />
                                            <p ng-show="formUsuario.cpf.$invalid" class="help-block">O CPF é obrigatório e deve ser válido</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.rg")>
                                            <label class="control-label" for="rg">Identidade</label>
                                            <input type="text" class="form-control" name="rg" autocomplete="off"
                                                   ng-model="ctrl.modelo.rg" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-6" ng-if="ctrl.tipoCadastro !== 'registro'">
                                        <div class="form-group">
                                            <label class="control-label">Status</label>
                                            <div>
                                                <a class="btn disabled" ng-class="{
                                  'btn-success': (ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.ativo.codigoBd),
                                  'btn-danger':  ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.inativo.codigoBd,
                                  'btn-warning': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd,
                                  'btn-default': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd,
                                  'btn-primary': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd
                                  }">{{ctrl.modelo.status.nomeExibicao}}</a>
                                                <a class="btn btn-default"
                                                   ng-if="ctrl.tipoCadastro !== 'registro' && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor || ctrl.dominio.usuarioLogadoEhDelegado)"
                                                   ng-click="ctrl.mostraHistoricoStatus(ctrl.modelo)">Histórico</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-6"
                                         ng-if="ctrl.modeloOriginal.matricula">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.matricula")>
                                            <label class="control-label" for="matricula">Matrícula<span ng-if="ctrl.modelo.status.codugoBd === ctrl.dominio.status.ativo.codigoBd">*</span></label>
                                            <input type="text" class="form-control" name="matricula" autocomplete="off"
                                                   ng-required="ctrl.modelo.status.codugoBd === ctrl.dominio.status.ativo.codigoBd"
                                                   ng-disabled="!ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                                   ng-model="ctrl.modelo.matricula" />
                                            <p ng-show="formUsuario.matricula.$invalid && formUsuario.$submitted" class="help-block">Matrícula é obrigatória</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.email")>
                                            <label class="control-label" for="email">E-mail</label>
                                            <input type="text" class="form-control" name="email" autocomplete="off" required
                                                   ng-disabled="ctrl.tipoCadastro !== 'registro' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                                   ng-model="ctrl.modelo.email" />
                                            <p ng-show="formUsuario.email.$invalid && formUsuario.$submitted" class="help-block">O e-mail é obrigatório</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" ng-if="ctrl.tipoCadastro !== 'registro'">
                                    <div class="col-sm-12">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.emailLista")>
                                            <label class="control-label" for="emailLista">E-mail específico para COCECA</label>
                                            <input type="text" class="form-control" name="emailLista" autocomplete="off"
                                                   ng-disabled="ctrl.tipoCadastro !== 'registro' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                                   ng-model="ctrl.modelo.emailLista" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row" ng-if="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="password">Senha<span ng-if="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id">*</span></label>
                                            <input type="password" name="password" class="form-control" autocomplete="off"
                                                   ng-required="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id"
                                                   ng-model="ctrl.modelo.password" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label" for="confirmPassword">Confirmação da senha<span ng-if="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id">*</span></label>
                                            <input type="password" name="confirmPassword" class="form-control" autocomplete="off"
                                                   ng-required="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id"
                                                   ng-model="ctrl.modelo.confirmPassword" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.usuarioIndicacao")>
                                            <label class="control-label" for="usuarioIndicacao">Associado que indicou <i class="glyphicon glyphicon-question-sign" style="cursor: help;" title="É necessário informar algum associado ativo para se associar. Caso já seja associado e não lembre qual associado te indicou, favor informar o associado que você conhece há mais tempo."></i></label>
                                            <div class="input-group">
                                                <input type="text" name="usuarioIndicacao" id="usuarioIndicacao" class="form-control"
                                                       autocomplete="off"
                                                       ng-required="ctrl.modelo.matricula !== 'FUNDADOR' && !ctrl.modelo.indicacaoLegado"
                                                       placeholder="Digite pelo menos 3 caracteres para buscar"
                                                       ng-disabled="ctrl.modelo.usuarioIndicacao.id"
                                                       ng-model="ctrl.modelo.usuarioIndicacao"
                                                       typeahead-wait-ms="300"
                                                       typeahead-min-length="3"
                                                       uib-typeahead="usuarioIndicacao as (usuarioIndicacao.name + (usuarioIndicacao.nomeRegional ? (' (' + usuarioIndicacao.nomeRegional + ')') : '')) for usuarioIndicacao in ctrl.recuperaUsuariosIndicacao($viewValue)"
                                                       typeahead-editable="false"
                                                       typeahead-select-on-exact="true"
                                                       typeahead-select-on-blur="true"
                                                       typeahead-no-results="semResultadosParaUsuarioIndicacao"
                                                       typeahead-loading="buscandoUsuariosIndicacao" />
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-disabled="!ctrl.modelo.usuarioIndicacao.id"
                                                            ng-click="ctrl.modelo.usuarioIndicacao = null">
                                                        Limpar
                                                    </button>
                                                </span>
                                            </div>
                                            <i ng-show="buscandoUsuariosIndicacao" class="glyphicon glyphicon-refresh"></i>
                                            <div ng-show="semResultadosParaUsuarioIndicacao">
                                                <i class="glyphicon glyphicon-remove"></i> Nenhum associado encontrado
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12"
                                         ng-if="ctrl.tipoCadastro !== 'registro' && (ctrl.modelo.indicacaoLegado || ctrl.tipoCadastro !== 'meusdados')">
                                        <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.indicacaoLegado")>
                                            <label class="control-label" for="indicacaoLegado">Associado que indicou (importado da planilha) <i class="glyphicon glyphicon-question-sign" style="cursor: help;" title="Este campo só se torna obrigatório em cadastros antigos, em que não há (ainda) o campo 'Usuário que indicou' preenchido"></i></label>
                                            <input type="text" class="form-control" name="indicacaoLegado" autocomplete="off"
                                                   ng-required="ctrl.modelo.matricula !== 'FUNDADOR' && !ctrl.modelo.usuarioIndicacao && ctrl.tipoCadastro !== 'meusdados'"
                                                   ng-disabled="(ctrl.modelo.matricula !== 'FUNDADOR' && ctrl.modelo.usuarioIndicacao) || ctrl.tipoCadastro === 'meusdados'"
                                                   ng-model="ctrl.modelo.indicacaoLegado" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-xs-12 col-sm-12">
                                        @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("regional", "ctrl.modelo", "nome",
                                "regional in ctrl.dominio.regionais | filter: {nome: $select.search} | orderBy : 'nome' track by regional.codigo",
                                "regional.nome | highlight: $select.search")
                       {
                           Obrigatorio = true,
                           Titulo = "Regional",
                           NgDisabled = "ctrl.formularioDesabilitado()"
                       })
                                    </div>
                                </div>

                                <div class="row"
                                     ng-if="ctrl.tipoCadastro === 'usuario' && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Papéis</label>
                                            <div>
                                                <ul style="list-style: none; padding-left: 0;">
                                                    <li ng-repeat="papel in ctrl.dominio.papeis">
                                                        <input type="checkbox"
                                                               checklist-model="ctrl.modelo.papeis"
                                                               ng-model="checkboxPapel"
                                                               checklist-value="papel"> {{papel.name}}
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            @NgHelpers.NgDatepicker("ctrl.modelo", "dataAdmissao", "Data de admissão", "true")
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6" style="padding: 0;">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label class="control-label" for="foto">Foto</label>

                                            <div ng-if="ctrl.modelo.fotoBase64">
                                                <div class="panel panel-default">
                                                    <div class="panel-body" style="max-width: 200px;">
                                                        <img ng-src="{{ctrl.modelo.fotoBase64}}" class="img-responsive" alt="Foto do associado"/>
                                                    </div>
                                                    <div class="panel-footer">
                                                        <a class="btn btn-default"
                                                           ng-click="ctrl.abrirModalTrocaFoto();">Trocar foto</a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div ng-if="!ctrl.modelo.fotoBase64"
                                                 style="overflow-x: hidden;">

                                                <a class="btn btn-default"
                                                   ng-click="ctrl.abrirModalTrocaFoto()">Incluir foto</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Endereço</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.endereco")>
                                        <label class="control-label" for="endereco">Endereço<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        <input type="text" class="form-control" name="endereco" autocomplete="off"
                                               ng-required="ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.endereco" />
                                        <p ng-show="formUsuario.endereco.$invalid && formUsuario.$submitted" class="help-block">O endereço é obrigatório</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.numero")>
                                        <label class="control-label" for="numero">Número<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        <input type="text" class="form-control" name="numero" autocomplete="off"
                                               ng-required="ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.numero" />
                                        <p ng-show="formUsuario.numero.$invalid && formUsuario.$submitted" class="help-block">O número é obrigatório</p>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.complemento")>
                                        <label class="control-label" for="complemento">Complemento</label>
                                        <input type="text" class="form-control" name="complemento" autocomplete="off"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.complemento" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.bairro")>
                                        <label class="control-label" for="bairro">Bairro<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        <input type="text" class="form-control" name="bairro" autocomplete="off"
                                               ng-required="ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.bairro" />
                                        <p ng-show="formUsuario.bairro.$invalid && formUsuario.$submitted" class="help-block">O bairro é obrigatório</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.cidade")>
                                        <label class="control-label" for="cidade">Cidade<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        <input type="text" class="form-control" name="cidade" autocomplete="off"
                                               ng-required="ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.cidade" />
                                        <p ng-show="formUsuario.cidade.$invalid && formUsuario.$submitted" class="help-block">A cidade é obrigatória</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.cep")>
                                        <label class="control-label" for="cep">CEP<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        <input type="text" class="form-control" name="cep" autocomplete="off"
                                               ng-required="ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.cep" />
                                        <p ng-show="formUsuario.cep.$invalid && formUsuario.$submitted" class="help-block">O CEP é obrigatório</p>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.uf")>
                                        <label class="control-label" for="uf">UF<span ng-if="ctrl.tipoCadastro === 'registro'">*</span></label>
                                        @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("uf", "ctrl.modelo", "nome",
                                            "uf in ctrl.dominio.ufs | filter: $select.search | orderBy : 'sigla' track by uf.codigo",
                                            "uf.nome | highlight: $select.search")
                                   {
                                       NgRequired = "ctrl.tipoCadastro === 'registro' || ctrl.tipoCadastro === 'meusdados'",
                                       AllowClear = true,
                                       Titulo = "",
                                       NgDisabled = "",
                                       BindHtmlOpcao = "uf.sigla + ' - ' + uf.nome"
                                   })
                                        <p ng-show="formUsuario.uf.$invalid && formUsuario.$submitted" style="margin-top: -10px;" class="help-block">A UF é obrigatória</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading">Contato</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.phoneNumber")>
                                        <label class="control-label" for="phoneNumber">Telefone celular</label>
                                        <input type="text" class="form-control" name="phoneNumber" autocomplete="off"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.phoneNumber" />
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.telefoneFixo")>
                                        <label class="control-label" for="telefoneFixo">Telefone fixo</label>
                                        <input type="text" class="form-control" name="telefoneFixo" autocomplete="off"
                                               ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                               ng-model="ctrl.modelo.telefoneFixo" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Dados adicionais</div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.sexo")>
                                    <label class="control-label">Sexo</label><br />
                                    <div class="btn-group hidden-xs">
                                        <label class="btn btn-default" ng-model="ctrl.modelo.sexo" ng-repeat="item in ctrl.dominio.sexos | filter: {codigo: '!0'}"
                                               uib-btn-radio="item"
                                               ng-disabled="ctrl.formularioDesabilitado()">{{ item.nomeExibicao }}</label>
                                    </div>
                                    <div class="btn-group visible-xs-inline-block">
                                        <label class="btn btn-default" ng-model="ctrl.modelo.sexo" ng-repeat="item in ctrl.dominio.sexos | filter: {codigo: '!0'}"
                                               uib-btn-radio="item"
                                               ng-disabled="ctrl.formularioDesabilitado()">{{ item.codigoBd }}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    @{
                                        var limiteSuperiorDataNascimento = DateTime.Today.AddYears(-18).ToString("dd/MM/yyyy");
                                    }
                                    @NgHelpers.NgDatepicker("ctrl.modelo", "dataNascimento", "Data de nascimento", null, null, null, limiteSuperiorDataNascimento)
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.experiencia")>
                                    <label class="control-label" for="experiencia">Experiência com cerveja</label>
                                    <textarea rows="3" class="form-control" name="experiencia" autocomplete="off"
                                                  ng-disabled="ctrl.tipoCadastro !== 'registro' && ctrl.tipoCadastro !== 'meusdados' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                                  ng-model="ctrl.modelo.experiencia"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row"
                             ng-if="ctrl.tipoCadastro !== 'registro'">
                            <div class="col-sm-12">
                                <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.observacao")>
                                    <label class="control-label" for="observacao">Observação</label>
                                    <textarea rows="3" class="form-control" name="observacao" autocomplete="off"
                                                  ng-disabled="ctrl.tipoCadastro !== 'registro' && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                                  ng-model="ctrl.modelo.observacao"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="row" ng-if="ctrl.tipoCadastro === 'registro'">
                <div class="bs-callout bs-callout-warning">
                    <h3>Termo de responsabilidade</h3>
                    <p>Ao enviar esta ficha de inscrição, o solicitante, tendo sua inscrição aprovada pela associação, se compromete a colaborar com objetivos da mesma e a cumprir o que está disposto em seu estatuto (disponível <a href="@Url.Action("Index","Estatuto")" target="_new">aqui</a>) e em suas eventuais alterações. O associado estará apto a usufruir dos benefícios da associação desde que esteja quite com suas obrigações financeiras com a mesma.</p>
                </div>
            </div>

            </fieldset>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <span>
                            <a class="btn btn-default" href="#/"
                               ng-if="ctrl.tipoCadastro !== 'registro'"
                               ng-disabled="ctrl.status.salvando">Voltar</a>
                        </span>
                        <!-- FUNCOES QUE APENAS DIRETORES PODEM EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                            <a class="btn btn-danger"
                               ng-if="ctrl.modelo.status.codigoBd !== ctrl.dominio.statusUsuario.inativo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.inativaUsuario(ctrl.modelo)"
                               confirm-window-type="danger"
                               confirm-text="Confirma a inativação do registro do associado {{ ctrl.modelo.name }}?">Inativar associado</a>
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.inativo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.reativaUsuario(ctrl.modelo)"
                               confirm-window-type="success"
                               confirm-text="Confirma o reativamento do registro do associado {{ ctrl.modelo.name }}?">Reativar associado</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltaParaNovo(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o retorno do associado {{ ctrl.modelo.name }} para status 'novo'?">Retornar para "Novo"</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltaParaAtivo(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma retorno do associado {{ ctrl.modelo.name }} para status 'ativo'?">Retornar para "Ativo"</a>
                        </span>

                        <!-- FUNCOES QUE DELEGADO PODE EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor || (ctrl.dominio.usuarioLogadoEhDelegado && ctrl.dominio.regionalDoUsuarioLogado.codigo === ctrl.modelo.regional.codigo))">
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltarParaAguardandoConfirmacaoEmail(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que o associado {{ ctrl.modelo.name }} voltará para ag. confirmação de e-mail?">Retornar para Ag. conf. e-mail</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltarParaAguardandoIndicacao(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que o associado {{ ctrl.modelo.name }} voltará para ag. indicação?">Retornar para Ag. indicação</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.reenviarEmailIndicacao(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Reenviar e-mail de solicitação de confirmação de indicação?">Reenviar e-mail indicação</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.reenviarEmailConfirmacaoEmail(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Reenviar e-mail de confirmação de e-mail?">Reenviar confirmação e-mail</a>
                        </span>
                    </div>
                    <div class="pull-right">
                        <!-- FUNCOES QUE APENAS DIRETORES PODEM EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaPagamento(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o pagamento do associado {{ ctrl.modelo.name }}?">Confirmar pagamento</a>
                            <a class="btn btn-primary"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.ativo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.cobrancaGerada(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que a cobrança foi gerada para o associado {{ ctrl.modelo.name }}?">Cobrança gerada</a>
                        </span>

                        <!-- FUNCOES QUE DELEGADO PODE EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor || (ctrl.dominio.usuarioLogadoEhDelegado && ctrl.dominio.regionalDoUsuarioLogado.codigo === ctrl.modelo.regional.codigo))">
                            <a class="btn btn-primary"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaEmail(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o e-mail do associado {{ ctrl.modelo.name }}?">Confirmar e-mail</a>
                            <a class="btn btn-danger"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.recusaIndicacao(ctrl.modelo)"
                               confirm-window-type="danger"
                               confirm-text="Confirma a recusa da indicação de {{ ctrl.modelo.name }}?">Recusar indicação</a>
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaIndicacao(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma indicação do associado {{ ctrl.modelo.name }}?">Confirmar indicação</a>
                        </span>

                        <span>
                            <button ng-if="ctrl.tipoCadastro !== 'usuario' || ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor"
                                    type="submit" class="btn btn-primary"
                                    ng-hide="ctrl.status.bloqueado"
                                    ng-disabled="ctrl.status.salvando"
                                    ng-click="ctrl.salvaUsuario()">
                                {{ctrl.tipoCadastro === 'registro' ? 'Enviar' : 'Salvar' }}<i class="icon icon-spin2 glyphicon-spin" ng-show="ctrl.status.salvando"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
