<form name="formUsuario" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" ng-show="ctrl.status.carregando">Carregando<i class="icon icon-spin2 glyphicon-spin"></i></div>
        <div class="panel-heading" ng-hide="ctrl.status.carregando">{{ ctrl.modeloOriginal.id ? "Edição do associado '" + ctrl.modelo.name + "'" : "Novo associado" }}</div>
        <div class="panel-body" ng-hide="ctrl.status.carregando">
            <fieldset ng-disabled="ctrl.modeloOriginal.id && !ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor && ctrl.dominio.idUsuarioLogado !== ctrl.modeloOriginal.id">

                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.name")>
                                <label class="control-label" for="name">Nome</label>
                                <input type="text" class="form-control" name="name" autocomplete="off" required
                                       ng-model="ctrl.modelo.name" />
                                <p ng-show="formUsuario.name.$invalid && !formUsuario.name.$pristine" class="help-block">O nome é obrigatório</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.cpf")>
                                <label class="control-label" for="cpf">CPF</label>
                                <input type="text" class="form-control" name="cpf" autocomplete="off" required
                                       ng-model="ctrl.modelo.cpf" />
                                <p ng-show="formUsuario.cpf.$invalid && !formUsuario.cpf.$pristine" class="help-block">O CPF é obrigatório</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-6" ng-if="ctrl.tipoCadastro !== 'registro'">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <div>
                                    <a class="btn disabled" ng-class="{
                                  'btn-success': (ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.ativo.codigoBd),
                                  'btn-danger':  ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.cancelado.codigoBd,
                                  'btn-warning': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd,
                                  'btn-default': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd,
                                  'btn-primary': ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd
                                  }">{{ctrl.modelo.status.nomeExibicao}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6"
                             ng-if="ctrl.modelo.matricula">
                            <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.matricula")>
                                <label class="control-label" for="matricula">Matrícula</label>
                                <input type="text" class="form-control" name="matricula" autocomplete="off" required
                                       ng-disabled="!ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                       ng-model="ctrl.modelo.matricula" />
                                <p ng-show="formUsuario.matricula.$invalid && !formUsuario.matricula.$pristine" class="help-block">Matrícula é obrigatória</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.email")>
                                <label class="control-label" for="email">E-mail</label>
                                <input type="text" class="form-control" email="email" autocomplete="off" required
                                       ng-disabled="!ctrl.dominio.usuarioLogadoEhAdmin && !ctrl.dominio.usuarioLogadoEhDiretor"
                                       ng-model="ctrl.modelo.email" />
                                <p ng-show="formUsuario.email.$invalid && !formUsuario.email.$pristine" class="help-block">O e-mail é obrigatório</p>
                            </div>
                        </div>
                    </div>

                    <div class="row" ng-if="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="password">Senha</label>
                                <input type="password" name="password" class="form-control" autocomplete="off" required
                                       ng-model="ctrl.modelo.password" />
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-if="ctrl.tipoCadastro === 'registro' || !ctrl.modelo.id">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="confirmPassword">Confirmação da senha</label>
                                <input type="password" name="confirmPassword" class="form-control" autocomplete="off" required
                                       ng-model="ctrl.modelo.confirmPassword" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" @NgHelpers.NgClassErrorOnInvalid("formUsuario.usuarioIndicacao")>
                                <label class="control-label" for="usuarioIndicacao">Indicação</label>
                                <div class="input-group">
                                    <input type="text" name="usuarioIndicacao" id="usuarioIndicacao" class="form-control"
                                           autocomplete="off"
                                           ng-required="ctrl.modelo.matricula !== 'FUNDADOR'"
                                           placeholder="Digite pelo menos 3 caracteres para buscar"
                                           ng-disabled="ctrl.modelo.usuarioIndicacao.id"
                                           ng-model="ctrl.modelo.usuarioIndicacao"
                                           typeahead-wait-ms="300"
                                           typeahead-min-length="3"
                                           uib-typeahead="usuarioIndicacao as (usuarioIndicacao.name + (usuarioIndicacao.nomeRegional ? (' (' + usuarioIndicacao.nomeRegional + ')') : '')) for usuarioIndicacao in ctrl.recuperaUsuariosIndicacao($viewValue)"
                                           typeahead-editable="false"
                                           typeahead-select-on-exact="true"
                                           typeahead-select-on-blur="true"
                                           typeahead-no-results="semResultadosParaUsuarioIndicacao"
                                           typeahead-loading="buscandoUsuariosIndicacao" />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-default"
                                                ng-disabled="!ctrl.modelo.usuarioIndicacao.id"
                                                ng-click="ctrl.modelo.usuarioIndicacao = null">
                                            Limpar
                                        </button>
                                    </span>
                                </div>
                                <i ng-show="buscandoUsuariosIndicacao" class="glyphicon glyphicon-refresh"></i>
                                <div ng-show="semResultadosParaUsuarioIndicacao">
                                    <i class="glyphicon glyphicon-remove"></i> Nenhum associado encontrado
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-12 col-sm-12">
                            @NgHelpers.NgSelectComBuscaRespeitandoStatusBloqueado("ctrl", new NgHelpers.NgSelectOptions("regional", "ctrl.modelo", "nome",
                                "regional in ctrl.dominio.regionais | filter: {nome: $select.search} | orderBy : 'nome' track by regional.codigo",
                                "regional.nome | highlight: $select.search")
                            {
                                Obrigatorio = true,
                                Titulo = "Regional",
                                NgDisabled = ""
                            })
                        </div>
                    </div>
                    
                    <div class="row"
                         ng-if="ctrl.tipoCadastro === 'usuario' && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                        <div class="col-xs-12 col-sm-12" ng-if="ctrl.tipoCadastro !== 'registro'">
                            <div class="form-group">
                                <label class="control-label">Papéis</label>
                                <div>
                                    <ul style="list-style: none; padding-left: 0;">
                                        <li ng-repeat="papel in ctrl.dominio.papeis">
                                            <input type="checkbox" 
                                                   checklist-model="ctrl.modelo.papeis" 
                                                   checklist-value="papel"> {{papel.name}}
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="control-label" for="foto">Foto</label>
                                
                                <div
                                     ng-if="!ctrl.modelo.fotoSelecionada && ctrl.modelo.fotoBase64">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <img ng-src="{{ctrl.modelo.fotoBase64}}" alt="Foto do associado"/>
                                        </div>
                                        <div class="panel-footer">
                                            <a class="btn btn-default" 
                                               ng-click="ctrl.modelo.fotoBase64 = null;">Trocar foto</a>
                                        </div>
                                    </div>

                                </div>
                                <div
                                     ng-if="!ctrl.modelo.fotoBase64 || ctrl.modelo.fotoSelecionada">
                                    <input type="file" ng-model="ctrl.modelo.fotoSelecionada"
                                           base-sixty-four-input
                                           accept="image/jpeg, image/png, image/gif" />

                                    <ng-croppie src="ctrl.pegaSrcFoto()"
                                                ng-if="ctrl.modelo.fotoSelecionada"
                                                ng-model="ctrl.modelo.fotoBase64"
                                                boundry="{w: 300, h: 300}"
                                                viewport="{w: 200, h: 200}"
                                                mousezoom="true"
                                                zoom="true"
                                                type="square">
                                    </ng-croppie>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-left">
                        <span>
                            <a class="btn btn-default" href="#/"
                               ng-disabled="ctrl.status.salvando">Voltar</a>
                        </span>
                        <!-- FUNCOES QUE APENAS DIRETORES PODEM EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                            <a class="btn btn-danger"
                               ng-if="ctrl.modelo.status.codigoBd !== ctrl.dominio.statusUsuario.cancelado.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.cancelaUsuario(ctrl.modelo)"
                               confirm-window-type="danger"
                               confirm-text="Confirma o cancelamento do registro do associado {{ ctrl.modelo.name }}?">Cancelar associado</a>
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.cancelado.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.reativaUsuario(ctrl.modelo)"
                               confirm-window-type="success"
                               confirm-text="Confirma o reativamento do registro do associado {{ ctrl.modelo.name }}?">Reativar associado</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltaParaNovo(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o retorno do associado {{ ctrl.modelo.name }} para status 'novo'?">Retornar para "Novo"</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltaParaAtivo(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma retorno do associado {{ ctrl.modelo.name }} para status 'ativo'?">Retornar para "Ativo"</a>
                        </span>
                        
                        <!-- FUNCOES QUE DELEGADO PODE EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor || (ctrl.dominio.usuarioLogadoEhDelegado && ctrl.dominio.regionalDoUsuarioLogado.codigo === ctrl.modelo.regional.codigo))">
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltarParaAguardandoConfirmacaoEmail(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que o associado {{ ctrl.modelo.name }} voltará para ag. confirmação de e-mail?">Retornar para Ag. conf. e-mail</a>
                            <a class="btn btn-default"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.voltarParaAguardandoIndicacao(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que o associado {{ ctrl.modelo.name }} voltará para ag. indicação?">Retornar para Ag. indicação</a>
                        </span>
                    </div>
                    <div class="pull-right">
                        <!-- FUNCOES QUE APENAS DIRETORES PODEM EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor)">
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoPagamentoAnuidade.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoRenovacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaPagamento(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o pagamento do associado {{ ctrl.modelo.name }}?">Confirmar pagamento</a>
                            <a class="btn btn-primary"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.novo.codigoBd || ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.ativo.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.cobrancaGerada(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma que a cobrança foi gerada para o associado {{ ctrl.modelo.name }}?">Cobrança gerada</a>
                        </span>

                        <!-- FUNCOES QUE DELEGADO PODE EXECUTAR -->
                        <span ng-if="ctrl.tipoCadastro === 'usuario' && ctrl.modelo.id && (ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor || (ctrl.dominio.usuarioLogadoEhDelegado && ctrl.dominio.regionalDoUsuarioLogado.codigo === ctrl.modelo.regional.codigo))">
                            <a class="btn btn-primary"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoConfirmacaoEmail.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaEmail(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma o e-mail do associado {{ ctrl.modelo.name }}?">Confirmar e-mail</a>
                            <a class="btn btn-danger"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.recusaIndicacao(ctrl.modelo)"
                               confirm-window-type="danger"
                               confirm-text="Confirma a recusa da indicação de {{ ctrl.modelo.name }}?">Recusar indicação</a>
                            <a class="btn btn-success"
                               ng-if="ctrl.modelo.status.codigoBd === ctrl.dominio.statusUsuario.aguardandoIndicacao.codigoBd"
                               acerva-confirm
                               confirm-action="ctrl.confirmaIndicacao(ctrl.modelo)"
                               confirm-window-type="warning"
                               confirm-text="Confirma indicação do associado {{ ctrl.modelo.name }}?">Confirmar indicação</a>
                        </span>

                        <span>
                            <button 
                                    ng-if="ctrl.tipoCadastro !== 'usuario' || ctrl.dominio.usuarioLogadoEhAdmin || ctrl.dominio.usuarioLogadoEhDiretor"
                                    type="submit" class="btn btn-primary" ng-hide="ctrl.status.bloqueado" ng-disabled="formUsuario.$invalid || ctrl.status.salvando"
                                    ng-click="ctrl.salvaUsuario()">
                                {{ctrl.tipoCadastro === 'registro' ? 'Enviar' : 'Salvar' }}<i class="icon icon-spin2 glyphicon-spin" ng-show="ctrl.status.salvando"></i>
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
