@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    ViewBag.Title = "Associados";
    ViewBag.AngularApp = "acerva.usuario";
    var action = ViewContext.RouteData.GetRequiredString("action");
    var id = ViewContext.RouteData.Values["id"];
}
<h4>Associados</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        @Html.Partial("_ListaUsuarios")
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div class="animate-show-only">
        @Html.Partial("_CadastroUsuario")
    </div>
</script>

<script type="text/ng-template" id="modal-selecao-emails.html">
    @Html.Partial("_ModalSelecaoEmails")
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render("~/cssBundles/usuario")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @if (ViewBag.Id == null)
    {
        @Scripts.Render("~/bundles/usuario")
    }
}

@section scripts {
    @if (action == "Index")
    {
        <script type="text/javascript">
            (function () {
                angular.module("acerva")
                    .constant("ROTAS", {
                        buscaTodos: "@Url.Action("BuscaParaListagem")",
                        buscaTiposDominio: "@Url.Action("BuscaTiposDominio")",
                        busca: "@Url.Action("Busca")",
                        salva: "@Url.Action("Salva")",
                        reativaUsuario: "@Url.Action("ReativaUsuario")",
                        cancelaUsuario: "@Url.Action("CancelaUsuario")",
                        confirmaEmail: "@Url.Action("ConfirmaEmail")",
                        confirmaIndicacao: "@Url.Action("ConfirmDesignation", "Account")",
                        recusaIndicacao: "@Url.Action("DenyDesignation", "Account")",
                        confirmaPagamento: "@Url.Action("ConfirmaPagamento")",
                        confirmaPagamentoSelecionados: "@Url.Action("ConfirmaPagamentoSelecionados")",
                        cobrancaGerada: "@Url.Action("CobrancaGerada")",
                        voltarParaAguardandoConfirmacaoEmail: "@Url.Action("VoltaUsuarioParaAguardandoConfirmacaoEmail")",
                        voltarParaAguardandoIndicacao: "@Url.Action("VoltaUsuarioParaAguardandoIndicacao")",
                        voltaParaNovo: "@Url.Action("VoltaUsuarioParaNovo")",
                        voltaParaAtivo: "@Url.Action("VoltaUsuarioParaAtivo")",
                        cobrancaGeradaSelecionados: "@Url.Action("CobrancaGeradaSelecionados")",
                        enviaEmailBoasVindasNaListaSelecionados: "@Url.Action("EnviaEmailBoasVindasNaListaSelecionados")",
                        buscaUsuariosAtivosComTermo: "@Url.Action("BuscaUsuariosAtivosComTermo")"
                    })
                    .constant("ENUMS", @Html.GeraJsonDeEnums(typeof(StatusUsuario), typeof(Sexo)));
            })();
        </script>
    }
    else
    {
        var url = Url.Action("Index") + "#/" + action + "/" + id;
        <script type="text/javascript">
            (function () {
                window.location = '@url';
            })();
        </script>
    }
}
