@{
    ViewBag.Title = "Referência";
    ViewBag.AngularApp = "acerva.referencia";
}
<h4>Categorias</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        <div class="row">
            <div class="col-sm-3" style="padding-left: 0;">
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-class="{'active': ctrl.categoriaSelecionada.codigo === categoria.codigo}"
                        ng-repeat="categoria in ctrl.listaCategorias">
                        <span class="badge">{{categoria.qtdArtigos}}</span>
                        <a ng-click="ctrl.selecionaCategoria(categoria);" style="cursor: pointer;">
                            {{categoria.nome}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div ng-if="ctrl.categoriaSelecionada">
                    <h4 ng-if="ctrl.status.carregandoArtigos || ctrl.status.carregandoArtigo">Carregando...</h4>
                    <ul ng-if="ctrl.listaArtigosPorCategoria[ctrl.categoriaSelecionada.codigo].length > 0 && !ctrl.artigo && !ctrl.status.carregandoArtigo">
                        <li ng-repeat="artigo in ctrl.listaArtigosPorCategoria[ctrl.categoriaSelecionada.codigo]" style="margin-bottom: 10px;">
                            <a ng-click="ctrl.mostraArtigo(artigo)" style="cursor: pointer;">{{artigo.titulo}}</a><br />
                            <em>{{artigo.nomeUsuario}} em {{artigo.dataHora | date:'dd/MM/yyyy hh:mm:ss'}}</em>
                        </li>
                    </ul>
                    <div ng-if="ctrl.artigo">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <h4 class="titulo text-primary">{{ctrl.artigo.titulo}}</h4>
                                <em>{{ctrl.artigo.nomeUsuario}} em {{ctrl.artigo.dataHora | date:'dd/MM/yyyy hh:mm:ss'}}</em>
                                <br /><br />

                                <span ng-bind-html="ctrl.artigo.textoHtml"></span>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-default"
                                   ng-click="ctrl.artigo = null;">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/referencia")
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaCategorias: "@Url.Action("BuscaCategorias")",
                    buscaArtigosDaCategoria: "@Url.Action("BuscaArtigosDaCategoria")",
                    busca: "@Url.Action("Busca")"
                });
        })();
    </script>
}
