@using Acerva.Modelo
@using Acerva.Web.Extensions
@{
    ViewBag.Title = "Acervo";
    ViewBag.AngularApp = "acerva.referencia";
}
<h4>Categorias</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        <div class="row">
            <div class="col-sm-3" style="padding-left: 0;">
                <!-- LISTA DE CATEGORIAS -->
                <ul class="list-group">
                    <li class="list-group-item"
                        ng-class="{'active': ctrl.categoriaSelecionada.codigo === categoria.codigo}"
                        ng-repeat="categoria in ctrl.listaCategorias">
                        <span class="badge">{{categoria.qtdArtigos}}</span>
                        <a ng-href="#/{{categoria.codigo}}" ng-click="ctrl.selecionaCategoria(categoria);" style="cursor: pointer;">
                            {{categoria.nome}}
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9">
                <div ng-if="ctrl.categoriaSelecionada">
                    <!-- LISTA DE ARTIGOS -->
                    <h4 ng-if="ctrl.status.carregandoArtigos || ctrl.status.carregandoArtigo">Carregando...</h4>
                    <ul ng-if="ctrl.listaArtigosPorCategoria[ctrl.categoriaSelecionada.codigo].length > 0 && !ctrl.artigo && !ctrl.status.carregandoArtigo">
                        <li ng-repeat="artigo in ctrl.listaArtigosPorCategoria[ctrl.categoriaSelecionada.codigo]" style="margin-bottom: 10px;">
                            <a ng-href="#/{{ctrl.categoriaSelecionada.codigo}}/{{artigo.codigo}}" ng-click="ctrl.mostraArtigo(artigo)" style="cursor: pointer;"><h4 style="margin-bottom: -10px;">{{artigo.titulo}}</h4></a><br />
                            por <em>{{artigo.nomeUsuario}} em {{artigo.dataHora | date:'dd/MM/yyyy hh:mm:ss'}}</em>
                        </li>
                    </ul>
                    <!-- ARTIGO -->
                    <div ng-if="ctrl.artigo">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="titulo text-primary" style="margin-top: 0;">
                                    {{ctrl.artigo.titulo}}
                                    <span ng-if="ctrl.artigo.visibilidade.codigoBd === ctrl.dominio.visibilidade.autenticado.codigoBd" class="label label-success">Apenas para associados!</span>
                                </h3>
                                por <em>{{ctrl.artigo.nomeUsuario}} em {{ctrl.artigo.dataHora | date:'dd/MM/yyyy hh:mm:ss'}}</em>
                            </div>
                            <div class="panel-body">
                                <span ng-bind-html="ctrl.artigo.textoHtml"></span>
                                <div ng-if="ctrl.artigo.anexos.length > 0">
                                    <hr />
                                    <h5>Anexos</h5>
                                    <ul>
                                        <li ng-repeat="anexo in ctrl.artigo.anexos" style="margin-bottom: 10px;">
                                            <a ng-href="@Url.Content("~/Content/Aplicacao/anexos/")/{{ctrl.artigo.codigo}}/{{anexo.nomeArquivo}}" target="_new">{{anexo.titulo}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="panel-footer">
                                <a class="btn btn-default"
                                   ng-href="#/{{ctrl.categoriaSelecionada.codigo}}"
                                   ng-click="ctrl.artigo = null;">Voltar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/referencia")
}

@section scripts {
    <script type="text/javascript">
        (function () {
            angular.module("acerva")
                .constant("ROTAS", {
                    buscaCategorias: "@Url.Action("BuscaCategorias")",
                    buscaArtigosDaCategoria: "@Url.Action("BuscaArtigosDaCategoria")",
                    busca: "@Url.Action("Busca")"
                })
            .constant("ENUMS", @Html.GeraJsonDeEnums(typeof (VisibilidadeArtigo)));
        })();
    </script>
}
