@using Acerva.Modelo
@using Acerva.Web.Models
@model global::Acerva.Web.Models.Home.UsuarioRegistroViewModel
@{
    ViewBag.Title = "Início";
    ViewBag.AngularApp = "acerva.inicio";
    var action = ViewContext.RouteData.GetRequiredString("action");
    var id = ViewContext.RouteData.Values["id"];
}

<br/>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="row">
        <div class="col-sm-9">
            @Html.Partial("_PaginaInicial")
        </div>
        <div class="col-sm-3">
            @if (!Request.IsAuthenticated)
            {
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <a href="@Url.Action("Register", "Account")"><h4 class="text-center">Quero me associar!</h4></a>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <h4>Login de associado</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Email, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "col-md-4 control-label" })
                                    <div class="col-md-8">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <div class="checkbox" style="margin-left: 20px;">
                                            @Html.CheckBox("RememberMe")
                                            <label>Lembrar de mim?</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-4 col-md-8">
                                        <input type="submit" value="Login" class="btn btn-default" />
                                    </div>
                                </div>
                                <p class="text-center">
                                    @Html.ActionLink("Esqueceu sua senha?", "ForgotPassword", "Account")
                                </p>
                            }
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body">
                            <ul style="margin-bottom: 0;">
                                <li style="margin-bottom: 15px;" ng-if="ctrl.indicacoesAConfirmar > 0"><b><a href="@Url.Action("IndicacoesAConfirmar", "Home")">Você possui {{ctrl.indicacoesAConfirmar}} {{"indicaç"+(ctrl.indicacoesAConfirmar === 1 ? "ão" : "ões")}} a confirmar!</a></b></li>
                                @if (Request.IsAuthenticated)
                                {
                                    if (User.IsInRole("ADMIN") || User.IsInRole("DIRETOR"))
                                    {
                                        <li>@Html.ActionLink("Regionais", "Index", "Regional")</li>
                                    }
                                    if (User.IsInRole("ADMIN") || User.IsInRole("DIRETOR") || User.IsInRole("DELEGADO"))
                                    {
                                        <li>@Html.ActionLink("Associados", "Index", "Usuario")</li>
                                    }
                                    if (User.IsInRole("ADMIN"))
                                    {
                                        <li>@Html.ActionLink("Admin", "Index", "Admin")</li>
                                    }
                                    <li>@Html.ActionLink("Meus dados", "Edit", "Account")</li>
                                }                                
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</script>


@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @if (ViewBag.Id == null)
    {
        @Scripts.Render("~/bundles/inicio")
    }
}

@section scripts {
    @if (action == "Index")
    {
        <script type="text/javascript">
            (function () {
                angular.module("acerva")
                    .constant("ROTAS", {
                        buscaNoticias: "@Url.Action("BuscaNoticias")",
                        buscaIndicacoesAConfirmar: "@Url.Action("BuscaIndicacoesAConfirmar")"
                    });
            })();
        </script>
    }
    else
    {
        var url = Url.Action("Index") + "#/" + action + "/" + id;
        <script type="text/javascript">
            (function () {
                window.location = '@url';
            })();
        </script>
    }
}
