@{
    ViewBag.Title = "Artigos";
    ViewBag.AngularApp = "acerva.artigo";
    var action = ViewContext.RouteData.GetRequiredString("action");
    var id = ViewContext.RouteData.Values["id"];
}
<h4>Artigos</h4>

<div ng-view ng-cloak></div>
@Html.AntiForgeryToken()

<script type="text/ng-template" id="index.html">
    <div class="animate-show-only">
        @Html.Partial("_ListaArtigos")
    </div>
</script>

<script type="text/ng-template" id="edit.html">
    <div class="animate-show-only">
        @Html.Partial("_CadastroArtigo")
    </div>
</script>

<script type="text/ng-template" id="modal-anexos-artigo.html">
    @Html.Partial("_ModalAnexosArtigo")
</script>

@section styles {
    @Styles.Render("~/cssBundles/angularForm")
    @Styles.Render("~/cssBundles/artigo")
    @Styles.Render(BundleConfig.BundleStylesDataTables)
}

@section dependencies {
    @Scripts.Render("~/bundles/artigo")
}

@section scripts {
    @if (action == "Index")
    {
        <script type="text/javascript">
    (function () {
        angular.module("acerva")
            .constant("ROTAS", {
                buscaTodos: "@Url.Action("BuscaParaListagem")",
                buscaTiposDominio: "@Url.Action("BuscaTiposDominio")",
                busca: "@Url.Action("Busca")",
                buscaAnexos: "@Url.Action("BuscaAnexos")",
                salva: "@Url.Action("Salva")",
                salvaAnexo: "@Url.Action("SalvaAnexo")",
                excluiAnexo: "@Url.Action("ExcluiAnexo")",
                alteraAtivacao: "@Url.Action("AlteraAtivacao")"
            });
        })();
        </script>
    }
    else
    {
        var url = Url.Action("Index") + "#/" + action + "/" + id;
        <script type="text/javascript">
            (function () {
                window.location = '@url';
            })();
        </script>
    }
}
